* {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #daded7;
  height: 100vh;
}
.screen-1 {
  background: #c8cec3;
  padding: 2em;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  box-shadow: 0 0 2em rgba(red, green, #00f, 0.8);
  gap: 2em;
}
.screen-1 .phone_number {
  background: #fff;
  box-shadow: 0 0 2em rgba(red, green, #00f, 0.8);
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  border-radius: 1em;
  color: #4d4d4d;
}
.screen-1 .phone_number input {
  outline: 0;
  border: none;
}
.screen-1 .phone_number input::-moz-placeholder {
  color: #000;
  font-size: 0.9em;
}
.screen-1 .phone_number input:-ms-input-placeholder {
  color: #000;
  font-size: 0.9em;
}
.screen-1 .phone_number input::placeholder {
  color: #000;
  font-size: 0.9em;
}
.screen-1 .password {
  background: #fff;
  box-shadow: 0 0 2em rgba(red, green, #00f, 0.8);
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  border-radius: 1em;
  color: #4d4d4d;
}
.screen-1 .password input {
  outline: 0;
  border: none;
}
.screen-1 .password input::-moz-placeholder {
  color: #000;
  font-size: 0.9em;
}
.screen-1 .password input:-ms-input-placeholder {
  color: #000;
  font-size: 0.9em;
}
.screen-1 .password input::placeholder {
  color: #000;
  font-size: 0.9em;
}
.screen-1 .login {
  padding: 0.5em;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 1em;
  font-weight: 600;
}
.screen-1 .footer {
  display: flex;
  font-size: 0.7em;
  color: #5e5e5e;
  gap: 14em;
}
button {
  cursor: pointer;
}
